@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300;400&display=swap');


body{
  background-image: url('../public/images/background.jpg'); /* relative path*/
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  
}


.head-container {
  background-color: #120115;
  background-image: url('../public/images/logo.jpg');  /* Adjust the path accordingly */
  background-size: cover;
  /* background-repeat: repeat; */
  background-position: 5rem -2rem;

}
.head-container p {
  font-size: .8rem;
  width: 12rem;
  color: #dcbee7;
  font-family: Nunito;
  background-color: rgba(240, 248, 255, 0.138);
  margin-top: 2.2rem;
  padding: 0rem .5rem;
  }  
.navbar{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #6c376be8;
}
.navbar button{
  background-color: #3c2044;
  color: antiquewhite;
  /* margin: .1rem; */
  font-size: .8rem;
  border: none;
  border-radius: 25px;
  font-family: Nunito;
  filter: drop-shadow(3px 3px 5px #120115);

}
#smlogo{
  width: 2rem;
  filter: drop-shadow(3px 3px 5px #120115);
}

#head-image, #head-image2{
  display: none;
}
.social-head{
  background-color: rgba(240, 248, 255, 0.138);
  margin-top: -1rem;
  font-size: 1rem;
  z-index: 1000;
}

.social-head a{
  margin: 0 1.5rem;
  transition: all .3s ease-out;
}

a{
  text-decoration: none;
  color: #ecddf1;

}

.allProducts-container, .allServices-container, .contact-container{
  background-color: #6c376bce;
  padding: .5rem;
  font-family: Nunito;
  color: antiquewhite;
}

.allServices-container{
  padding: 1rem 0rem;


}
.accordion{
  background: linear-gradient(319deg, rgba(100,60,132,0.35) 0%, rgba(60,32,68,.5) 30%), rgb(116,21,76, .3)80%;
  padding: .5rem;
  margin: .2rem 0rem;
  border-radius: 5px;
  animation: cascadeDown 0.5s ease-in;
  color: #dcbee7;
  width: auto; /* Remove width property */
  border: 1px solid #8842a1;


}

.presentaciones-tooltip {
  display: none;
}

.accordion h5{
  filter: drop-shadow(5px 5px 7px #080009);

}


.accordion-content{
  color: antiquewhite;
} 
.accordion-content div{
  height: 8rem ;
  width:20rem ;
  overflow: hidden;
  display: flex;
  justify-content: center;

}
.accordion-content div img{
  border-radius: 15%;
}



.productPresentaciones{
  display: flex;
  justify-content:flex-end;
}
@keyframes cascadeDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px; /* Set a reasonable max-height based on your content */
  }
}
.accordion-content {
  animation: cascadeDown 0.5s ease-in;
  overflow: hidden;
  max-height: 0; /* Set initial max-height to 0 */
  transition: max-height 0.5s ease-in; /* Add transition for smooth height changes */
}
.cascade-item.active {
  max-height: 1000px; /* Set max-height to 1000px when active */
}




/* for big cellphones */
@media only screen and (min-width: 400px) {
  .head-container {

    background-position: 5rem -2.5rem;
  
  }

}

/* for small ipads */

@media only screen and (min-width: 700px) {
  .head-container {
    background-image: url('../public/images/logotablet.jpg');  /* Adjust the path accordingly */
    background-position: 14rem -4rem;
    background-size:43rem;
  
  }

  .head-container p {
    font-size: 1.5rem;
    width: 24rem;

    margin-top: 3rem; 
    }  

    .navbar button, .social-head{
      font-size: larger;
    }

    #smlogo{
      width: 3rem;
    }

    .allProducts-container p, .allServices-container p{
      font-size: 1.7rem;
    }

    .allProducts-container h2, .contact-container h3, .allServices-container h2{
      font-size: 2.5rem;


    }

     .accordion p{
      font-size: 2rem;

    } 
    .accordion h5{
      font-size: 2rem;

    }
    .social-head a{
      font-size: larger;

      margin: 0 3.5rem;
    }

    #contact-info h6{
      font-size: 1.7rem;
    }

    .accordion-content div{
      width: 100%;
    }

    .accordion-content div img{
       transform: scale(1.5);
    }

    
 }


 /* for big ipads */

@media only screen and (min-width: 990px) {

  #head-image2{
    display: block; 
    margin-bottom: 1rem;
    z-index: 10;
    /* filter: blur(2px) */
  } 


  #head-content{
    display: flex;
    justify-content: space-between;
  }

  .head-container {

    background-position: 11rem -1rem;
    background-size:43rem;
  
  }

  .navbar button, #smlogo, .accordion h5 {
    transition: all .3s ease-out;
    cursor: pointer;
  }

  /*hover animations*/
  .navbar button:hover , #smlogo:hover, #contact-info a:hover{
    transform: scale(1.1);
    filter: saturate(1.5);
    filter: drop-shadow(5px 5px 7px #120115);
  }
  #smlogo:hover{
    transform: rotate(118deg);
  }

  .social-head a:hover{
    transform: scale(1.2);
    color: #d8c5db;
    filter: drop-shadow(5px 5px 7px #e7baef);


  }

  .accordion h5:hover, .accordion:hover,  #allServices-container:hover{
    transform: scale(1.02);
    filter: saturate(2);
    filter: drop-shadow(5px 5px 7px #7f5f85);

  }
  .accordion:hover{
    border: 1px solid whitesmoke;
    color: white;
  }

}


 /* for computers */
@media only screen and (min-width: 1200px) {

  #head-image{
    display: block; 
    opacity:.9 ;  
    margin-bottom: -.5rem;
    margin-right: -25rem;
    transform: rotate(5deg);
    z-index: 1;

    /* filter: blur(2px) */
  } 

  .head-container{
    background-position: 11rem 0rem;

  }



  .head-container p {
    background: linear-gradient(319deg, rgba(96,42,92,1) 0%, rgba(115,47,96,1) 50%, rgba(96,42,92,1) 95%);
    padding: 0rem 2rem;
  } 

  .social-head{
    position: relative; /*needed for z*/
    background: linear-gradient(319deg, rgba(96,42,92,1) 0%, rgba(115,47,96,1) 50%, rgba(96,42,92,1) 95%);
    z-index: 100;
    /* position: absolute; */



  }

  .accordion, #allServices-container{
    margin: .2rem 2rem;
  }



  .allProducts-container h2, .contact-container h3, .allServices-container h2{
    font-size: 2.2rem;
    padding: 0rem 3rem;

  }
  .allProducts-container p, .allServices-container p{
    font-size: 1.2rem;
    padding: 0rem 4rem;

  }

  .accordion h5{
    font-size: 1.5rem;
    padding: 0rem 2rem;

  }

  .accordion-content{
    padding: 0rem 2rem;

  }
  .accordion-content div img{
    transform: scale(2);
 }

 /*double column grid*/
 .accordions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
 .accordion {
  width: 90%; /* Add this property or adjust as needed */
  padding: .5rem .2rem;
}

/*tittle of product*/
.accordion h5 p{ 
  margin-left: -4rem;
  }

  .accordion-content div {
    border-radius: 3rem;
    height: 10rem;
  }


  .presentaciones-tooltip {
    display: block;
    position: absolute;
    top: 100%;
    left: 10%;
    font-size: .7rem;
    transform: translate(10px, -50%);
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: #fff;
    padding: 5px;
    /* white-space: nowrap; */
    z-index: 1;
  }

  .productPresentaciones{
    display: none;

  }
  

}