@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300;400&display=swap');


body{
  background-image: url('../public/images/background.jpg'); /* relative path*/
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: #dcbee7;
  
}

.head-container {
  background-color: #120115;

  background-image: url('../public/images/logo.jpg');  /* Adjust the path accordingly */
  background-size: cover;
  /* background-repeat: repeat; */
  background-position: 5rem -1.5rem;

}
.head-container p {
  font-size: .8rem;
  width: 12rem;
  color: #dcbee7;
  font-family: Nunito;
  background-color: rgba(240, 248, 255, 0.138);
  margin-top: 2.2rem;
  }  
  
.navbar{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #6c376be8;
  /* margin-bottom: .1rem; */


}

.navbar button{
  background-color: #3c2044;
  color: #dcbee7;
  /* margin: .1rem; */
  font-size: .8rem;

  border: none;
  border-radius: 25px;
  font-family: Nunito;
  filter: drop-shadow(5px 5px 6px #120115);




}

#smlogo{
  width: 2rem;
  filter: drop-shadow(5px 5px 6px #120115);
}





.products-container, .service-container, .contact-container{
  background-color: #6c376bce;
  padding: .5rem;
  font-family: Nunito;

}

#head-image, #head-image2{
  display: none;
}

/* .accordion-content{
  transition: all 1s ease-in;

} */
#product-container, #service-container{
  background: linear-gradient(319deg, rgba(100,60,132,0.35) 0%, rgba(60,32,68,.9) 30%), rgb(116,21,76, .5)80%;
  min-height: fit-content;
  padding: .5rem;
  margin: .2rem 0rem;
  border-radius: 5%;
  animation: cascadeDown 0.5s ease-in;

}
.accordion-content div{
  height: 8rem ;
  width:20rem ;
  overflow: hidden;
  display: flex;
  justify-content: center;

}

.accordion-content div img{
  border-radius: 15%;
}

@keyframes cascadeDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px; /* Set a reasonable max-height based on your content */
  }
}

.accordion-content {
  animation: cascadeDown 0.5s ease-in;
  overflow: hidden;
  max-height: 0; /* Set initial max-height to 0 */
  transition: max-height 0.5s ease-in; /* Add transition for smooth height changes */
}

.cascade-item.active {
  max-height: 1000px; /* Set max-height to 1000px when active */
}


.social-head{
  background-color: rgba(240, 248, 255, 0.138);
  margin-top: -1rem;
  font-size: 1rem;
  


}

.social-head a{
  margin: 0 1.5rem;
}

a{
  text-decoration: none;
  color: #ecddf1;


}

/* for big cellphones */
@media only screen and (min-width: 400px) {
  .head-container {

    background-position: 5rem -2.5rem;
  
  }

}

/* for small ipads */

@media only screen and (min-width: 700px) {
  .head-container {
    background-image: url('../public/images/logotablet.jpg');  /* Adjust the path accordingly */
    background-position: 14rem -4rem;
    background-size:43rem;
  
  }

  .head-container p {
    font-size: 1.5rem;
    width: 24rem;

    margin-top: 3rem; 
    }  

    .navbar button, .social-head{
      font-size: larger;
    }

    #smlogo{
      width: 3rem;
    }

    .products-container p, .service-container p{
      font-size: 1.7rem;
    }

    .products-container h2, .contact-container h3, .service-container h2{
      font-size: 2.5rem;


    }

     .product-container p{
      font-size: 2rem;

    } 
    #product-title, #service-title{
      font-size: 2rem;

    }
    .social-head a{
      font-size: larger;

      margin: 0 3.5rem;
    }

    #contact-info h6{
      font-size: 1.7rem;
    }

    .accordion-content div{
      width: 100%;
    }

    .accordion-content div img{
       transform: scale(1.5);
    }

    
 }


 /* for big ipads */

@media only screen and (min-width: 990px) {

  #head-image2{
    display: block; 
    margin-bottom: 1rem;
    z-index: 100;
    /* filter: blur(2px) */
  } 


  #head-content{
    display: flex;
    justify-content: space-between;
  }

  .head-container {

    background-position: 11rem -1rem;
    background-size:43rem;
  
  }
}


 /* for computers */
@media only screen and (min-width: 1200px) {

  #head-image{
    display: block; 
    opacity:.8 ;  
    margin-bottom: 1rem;
    /* filter: blur(2px) */
  } 


  #head-image{
margin-right: -22rem;
  } 

  .head-container p {
    background: linear-gradient(319deg, rgba(96,42,92,1) 0%, rgba(115,47,96,1) 50%, rgba(96,42,92,1) 95%);
  } 

  .social-head{
    background: linear-gradient(319deg, rgba(96,42,92,1) 0%, rgba(115,47,96,1) 50%, rgba(96,42,92,1) 95%);

  }


  .products-container p, .service-container p{
    font-size: 1.2rem;
  }

  .products-container h2, .contact-container h3, .service-container h2{
    font-size: 2.2rem;


  }


  #product-title, #service-title{
    font-size: 1.5rem;

  }
  .accordion-content div img{
    transform: scale(2);
 }


.accordion-content div{
  height: 15rem;
}


}